.jumbotron {
  padding-top: 6rem;
}

section {
  padding-top: 5rem;
}

.navbar {
  background-color: #f54152;
}

.color1 {
  background-color: #f56273;
}

.color2 {
  background-color: #f58493;
}

.color3 {
  background-color: #f59ac8;
}

.color4 {
  background-color: #f5ddef;
}

.lead {
  height: 4em;
}
